@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@keyframes hide {
	from {
		scale: 100%;
	}
	to {
		scale: 0%;
	}
}
body {
	background-color:#000;
	margin:-10;
	overflow: hidden;
	font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
	cursor: wait;
}
#styler {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,0.5);
	padding:20px;
	border-radius:40px;
	border: 2px solid white;
	color: #fff;
	font-size:2vw;
	text-align: center;
	min-width: min(60vh,60vw);
	min-height: min(60vh,60vw);
	scale: 0;
	opacity: 0;
	transition: 0.5s;
	transform-origin: 0% 0%;
}
#bg-url {
	vertical-align: middle;
}
#bg-file {
	margin: 10px;
}
#bg-preview {
	margin-top: 10;
	min-width: 80%;
	min-height: 80%;
	max-width: min(60vh,60vw);
	max-height: min(60vh,60vw);
	border-radius:20px;
}
.bg {
	margin:0;
	height:100%;
	background: url(https://i.pinimg.com/736x/db/86/4f/db864f597a08dc61666c9cee0b711972.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter:blur(5px);
}
.clock-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	background-color: rgba(0,0,0,0.5);
	padding:20px;
	border-radius:40px;
	border: 2px solid white;
	transition: 0.5s;
	transform-origin: 0% 0%;
}
#clock {
	font-size:9vw;
	text-align: center;
	color: #fff;
	line-height: 2px;
}
.hiden {
	font-size:1px;
	text-align: center;
	color:rgba(255, 255, 255, 0);
}
.dopari {
	position: absolute;
	font-size:2vw;
	text-align: center;
	color: #fff;
	line-height: 2px;
	left: 21%;
	top: 15%;
}
/*.container-btn {
	margin: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20%;
	height: 10%;
	z-index: 99;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}*/
.popup {
	position: absolute;
	top: 50%;
	left: 88%;
	transform: translate(-50%, -50%);
	width: 15%;
	background-color: rgba(0,0,0,0.5);
	padding:20px;
	border-radius:40px;
	z-index: 999;
	display: inline;
	border: 2px solid white;
	transition: 0.5s;
	transform-origin: 0% 0%;
}

#popup-title {
	font-size:2vw;
	color: #fff;
	line-height: 2px;
}
#shedule {
	font-size:1.5vw;
	color: #fff;
	line-height: 0.5em;
}
#group-selector-title {
	font-size:2vw;
	text-align: center;
	color: #fff;
}
#group-selector {
	vertical-align: middle;
}
#btn-skin , #btn-group {
	background-color: rgba(0,0,0,0.5);
	border-radius:20px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.3s;
	border: 2px solid white;
}
#btn-skin:hover , #btn-group:hover {
	background-color: rgba(128, 128, 128, 0.5);
	transition-duration: 0.3s;
}
#footer {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display:grid;
	background-color: rgba(0,0,0,0.5);
	border-radius:20px;
	color: #fff;
	font-weight: bold;
	border: 2px solid white;
}
#blur-slider {
	cursor: pointer;
	width: auto;
}
.hide-on-fullscreen {
	width: 100%;
	box-sizing: border-box;
	height: 4em;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 8px;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 1fr;
	gap: 10px;
	transition: 0.5s;
}