@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@keyframes hide {
	from {
		scale: 100%;
	}
	to {
		scale: 0%;
	}
}
@keyframes rainbow {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
:root {
  --accent-color: #FFF;
  --bg-color: rgba(0,0,0,0.5);
  --text-color: #FFF;
}
.generic-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-color);
	padding:20px;
	border-radius:40px;
	border: 2px solid ;
	border-color: var(--accent-color);
	color: var(--text-color);
	font-size:2vw;
	text-align: center;
	transition: 0.5s;
	transform-origin: 0% 0%;
}
body {
	background-color:#000;
	margin:-10;
	overflow: hidden;
	font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
	cursor: wait;
}
#colorchanger {
	line-height: 2em;
	min-width: min(60vh,60vw);
	scale: 0;
	opacity: 0;
}
#colorchanger-title {
	color: var(--text-color);
	font-size:2vw;
}
#color-accent-wrapper , #color-bg-wrapper , #color-text-wrapper {
	display: flex;
	justify-content: space-between;
}

#color-accent , #color-bg , #color-text , #btn-color-accent , #btn-color-bg , #btn-color-text {
	vertical-align: middle;
}

#btn-color-accent , #btn-color-bg , #btn-color-text {
	background-color: var(--bg-color);
	padding: 10px;
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.3s;
	border: 2px solid ;
	border-color: var(--accent-color);
}
#styler {
	min-width: min(60vh,60vw);
	min-height: min(60vh,60vw);
	scale: 0;
	opacity: 0;
	transition: 0.5s;
	transform-origin: 0% 0%;
}
#bg-url-wrapper {
	margin: auto;
	padding: 10px;
	background-color: var(--bg-color);
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	cursor: text;
	border: 2px solid ;
	border-color: var(--accent-color);
	max-width: fit-content;
}
#bg-url {
	vertical-align:middle;
	background-color: var(--bg-color);
	border: none;
	border-bottom: 2px solid #888;
	color: var(--text-color);
	font-weight: bold;
	transition: 0.5s;
}
#bg-url:focus {
	border: none;
	border-bottom: 2px double white;
	outline: none;
	transition: 0.5s;
}
#bg-file {
	margin: 10px;
	padding: 10px;
	background-color: var(--bg-color);
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	cursor: pointer;
	border: 2px solid ;
	border-color: var(--accent-color);
}
#bg-btn {
	padding: 10px;
	background-color: var(--bg-color);
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	cursor: pointer;
	border: 2px solid ;
	border-color: var(--accent-color);
	transition-duration: 0.3s;
}
#bg-btn:hover {
	background-color: rgba(128, 128, 128, 0.5);
	transition-duration: 0.3s;
}
#bg-preview {
	margin-top: 10;
	min-width: 40%;
	min-height: 80%;
	max-width: min(60vh,60vw);
	max-height: min(40vh,40vw);
	border-radius:20px;
}
.bg {
	margin:0;
	height:100%;
	background: url(https://i.pinimg.com/736x/db/86/4f/db864f597a08dc61666c9cee0b711972.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	filter:blur(5px);
}
.clock-box {
	scale: 1;
	width: 50%;
	transition: 0.5s;
	transform-origin: 0% 0%;
}
#clock {
	font-size:9vw;
	text-align: center;
	color: var(--text-color);
	line-height: 2px;
}
.hiden {
	font-size:1px;
	text-align: center;
	color:rgba(255, 255, 255, 0);
}
.dopari {
	position: absolute;
	font-size:2vw;
	text-align: center;
	color: var(--text-color);
	line-height: 2px;
	left: 21%;
	top: 15%;
}
/*.container-btn {
	margin: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20%;
	height: 10%;
	z-index: 99;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}*/
.popup {
	text-align: left;
	top: 50%;
	left: 88%;
	width: 15%;
	z-index: 999;
	display: inline;
	transition: 0.5s;
	transform-origin: 0% 0%;
}

#popup-title {
	font-size:2vw;
	color: var(--text-color);
	line-height: 2px;
}
#shedule {
	font-size:1.5vw;
	color: var(--text-color);
	line-height: 0.5em;
}
#group-selector-title {
	font-size:2vw;
	text-align: center;
	color: var(--text-color);
}
#group-selector {
	vertical-align: middle;
}
#btn-skin , #btn-group , #btn-color {
	background-color: var(--bg-color);
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	cursor: pointer;
	transition-duration: 0.3s;
	border: 2px solid ;
	border-color: var(--accent-color);
}
#btn-skin:hover , #btn-group:hover , #btn-color:hover {
	background-color: rgba(128, 128, 128, 0.5);
	transition-duration: 0.3s;
}
#footer {
	margin: auto;
	margin-top: 10;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display:grid;
	background-color: var(--bg-color);
	border-radius:20px;
	color: var(--text-color);
	font-weight: bold;
	border: 2px solid ;
	border-color: var(--accent-color);
	max-width: min(40vh,40vw);
	font-size: 0.8em;
}
#blur-slider {
	cursor: pointer;
	width: auto;
}
.hide-on-fullscreen {
	width: 100%;
	box-sizing: border-box;
	height: 4em;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 8px;
	display: grid;
	grid-template-columns: 5fr 1fr 1fr 1fr;
	gap: 10px;
	transition: 0.5s;
}
